<!doctype html>
  <html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- build:css styles/vendor.css -->
        <!-- injector:bowercss -->
        <!-- endinjector -->
    <!-- endbuild -->

    <!-- build:css styles/custom.css -->
        <!-- injector:css -->
        <!-- endinjector -->
    <!-- endbuild -->
    <script src="cordova.js"></script>
  </head>

  <body>
    <!-- =================== Navigation bar =================== -->
    <header class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand visible-xs" href="#">
                        angularjsapp
                    </a>
                </div>
            </div>
        </div>
    </header>

    <div class="header-placeholder"></div>
    <div role="main">
        <header class="bs-header text-center" id="overview">
            <div class="container">
                <h1 id="app-heading">
                    AngularJs Cordova application
                </h1>
            </div>
        </header>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <section id="uiview" ui-view></section>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.main -->

    <footer class="footer">
        <div class="container">
            <p>Code licensed under <a href="https://github.com/keshavos/generator-angularjs-cordova/">MIT License</a>.</p>
        </div>
    </footer>

    <!-- build:js scripts/vendor.js -->
        <!-- injector:bowerjs -->
        <!-- endinjector -->
    <!-- endbuild -->

    <!-- build:js scripts/custom.js -->
        <!-- injector:js -->
        <!-- endinjector -->
    <!-- endbuild -->

  </body>
</html>
