<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	<!-- build:css css/app.css-->
    <!-- bower:css -->
    <link rel="stylesheet" href="app/lib/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->


    <link rel="stylesheet" href="app/css/common.css" />
    <link rel="stylesheet" href="app/css/demo.css" />
    <link rel="stylesheet" href="app/css/rainbow.css" />
    <!-- endbuild -->
</head>

<body>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div class="container"></div>

<!-- =================== Navigation bar =================== -->
<header class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand visible-xs" href="#"><%= slugifiedAppName %></a>
            </div>
        </div>
    </div>
</header>

<div class="header-placeholder"></div>
<div role="main">
    <header class="bs-header text-center" id="overview">
        <div class="container">
            <h1>
                AngularJs Cordova application
            </h1>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <section id="uiview" ui-view></section>
            </div>
        </div>
    </div><!-- /.container -->
</div><!-- /.main -->

<footer class="footer">
    <div class="container">
        <p>Code licensed under <a href="https://github.com/keshavos/generator-angularjs-cordova/">MIT License</a>.</p>
    </div>
</footer>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
</script>

<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->


<!-- process:remove:server -->
<script type="text/javascript" charset="utf-8" src="cordova.js"></script>
<!-- /process -->

<!-- build:js js/app.js -->
<!-- bower:js -->
<!-- endbower -->

<script src="app/js/config.js"></script>
<script src="app/js/application.js"></script>
<script src="app/modules/core/core.js"></script>
<script src="app/modules/core/config/routes.js"></script>
<script src="app/modules/core/controllers/home.js"></script>
<!-- endbuild -->
</body>
</html>
