<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title><%=s lugifiedAppName %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- bower:css -->
    <link rel="stylesheet" href="app/lib/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->

    <!-- injector:css -->

    <!-- endinjector -->
</head>

<body>
    <!-- =================== Navigation bar =================== -->
    <header class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand visible-xs" href="#">
                        <%=s lugifiedAppName %>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <div class="header-placeholder"></div>
    <div role="main">
        <header class="bs-header text-center" id="overview">
            <div class="container">
                <h1>
                    AngularJs Cordova application
                </h1>
            </div>
        </header>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <section id="uiview" ui-view></section>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.main -->

    <footer class="footer">
        <div class="container">
            <p>Code licensed under <a href="https://github.com/keshavos/generator-angularjs-cordova/">MIT License</a>.</p>
        </div>
    </footer>


    <!-- bower:js -->
    <script src="app/lib/jquery/dist/jquery.js"></script>
    <script src="app/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="app/lib/angular/angular.js"></script>
    <script src="app/lib/angular-resource/angular-resource.js"></script>
    <script src="app/lib/angular-mocks/angular-mocks.js"></script>
    <script src="app/lib/angular-cookies/angular-cookies.js"></script>
    <script src="app/lib/angular-animate/angular-animate.js"></script>
    <script src="app/lib/angular-touch/angular-touch.js"></script>
    <script src="app/lib/angular-sanitize/angular-sanitize.js"></script>
    <script src="app/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="app/lib/angular-ui-utils/ui-utils.js"></script>
    <script src="app/lib/angular-ui-router/release/angular-ui-router.js"></script>
    <!-- endbower -->

    <!-- injector:js -->
    <!-- endinjector -->
</body>
</html>
