<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Sample Cordova AngularJS file</title>
    <link rel="stylesheet" href="app/css/common.css">

    <!--Include the library files -->
    <script type="text/javascript" src="app/lib/angular/angular.js"></script>
    <script type="text/javascript" src="app/lib/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="app/lib/angular-cookies/angular-cookies.js"></script>
    <script type="text/javascript" src="app/lib/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="app/lib/angular-touch/angular-touch.js"></script>
    <script type="text/javascript" src="app/lib/angular-sanitize/angular-sanitize.js"></script>
    <script type="text/javascript" src="app/lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="app/lib/angular-bootstrap/ui-bootstrap.js"></script>
    <script type="text/javascript" src="app/lib/angular-ui-utils/ui-utils.js"></script>
    <script type="text/javascript" src="app/lib/angular-ui-router/release/angular-ui-router.js"></script>
</head>
<body>
<section ng-controller="HomeController">Index html</section>




<!--Include the config files -->
<script type="text/javascript" src="app/js/config.js"></script>
<script type="text/javascript" src="app/js/application.js"></script>

<!-- Include the app files -->
<script type="text/javascript" src="app/modules/core/core.js"></script>
<script type="text/javascript" src="app/modules/core/config/routes.js"></script>
<script type="text/javascript" src="app/modules/core/controllers/home.js"></script>

</body>
</html>